#Server
BASE_URL=http://shortlink.test
URL_ANJ_SERVICES=https://192.168.1.16:9001
CREATE_NEW_LINK_IF_EXISTS=0
ENABLE_EXPIRED_TIME=0
COOKIE_EXPIRE_TIME=1

#Memcache
MEMCACHED_HOST=localhost
MEMCACHED_PORT=11211

#Database
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=url_shortener
